.burger {
	position: sticky;
	top: 0px;
	width: 100vw;
	background-color: #3c424090;
	display: block;
	padding: 20px;
	display: flex;
	justify-content: space-between;

	h3 {
		display: inline-block;
		vertical-align: middle;

		color: white;
		font-family: "Fira Code", monospace;
		margin: auto 0;
	}

	ul {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		text-align: right;
		margin: auto 5px;
		font-family: "Fira Code", monospace;
		vertical-align: middle;

		li {
			display: inline;
			margin: 5px 12px;
			vertical-align: middle;
			font-size: 0.9em;
			font-weight: 300;
			span {
				color: red;
			}
			a {
				text-decoration: none;
				color: white;
				transition: 0.5s;

				&:hover {
					color: red;
				}
			}

			button {
				background: 0;
				color: white;
				border: 2px solid grey;
				padding: 5px 8px;
				border-radius: 3px;
				transition: 0.5s;
				&:hover {
					box-shadow: inset 6.5em 0 0 0 grey;
				}
			}
		}
	}
}
